/*  src/Header.css  */
.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.Right {
  display: flex;
  align-items: center;
}

.Tabs {
  display: flex;
  padding-right:2em;
}

.Menu-Item{
  padding-right:.5em;
}

.Menu-Button {
  background-color:rgb(192, 45, 26); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline9-block;
  font-size: 16px;
  cursor: pointer;
}

.Logo {
  margin-left:10em;
}

.Login {
  margin-right:10em;
}

.Login-Button {
  background-color:rgba(255, 140, 0, 0.694); /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  width:6em;
  font-weight:bold;
}
.styled-image{
  max-width: 76px;
  max-height: 76px;
  position: relative;
  top: 20px
}