.fridge-header{
    background-color: #7ea1b4;
    color: white;
    text-align: center;
    padding: 20px;
    background-size: 500px 500px;
    background-image: url('../../images/fridge-background.png');
}

.diet-container{
    float: right;
    border: 2px solid black;
    padding: 10px;
}
.allergy-container{
    float: right;
    border:2px solid black;
    padding:10px;
    width: 200px
}

.allergy-button:hover{
    background-color:rgb(192, 45, 26);
}

.diet-section{
    margin-bottom: 20px;
}

.allergy-section{
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column; /* Display checkboxes vertically (one below the other) */
}
  
.checkbox-group label {
    display: flex;
    align-items: center; /* Vertically center checkboxes and labels */
}
  
.checkbox-group label input {
    margin-right: 8px; /* Add spacing between checkbox and label */
}

h3{
    margin: 0px;
    padding: 5px;
}
/* split up screen into 3 sections using flex*/
.whole-container {
    display: flex;
}
  
.left-section {
    flex: 2.5;
    padding: 10px; 
}
.right-section {
    flex: 1;
    padding: 10px; 
}

.middle-section {
    flex: 1;
    padding: 10px;
}
html, body {
    height: 100%;
    margin: 0;
}