#search-header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#search-input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#search-add-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-add-button:hover {
    background-color: #3367d6;
}

#search-words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#search-word {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-word:hover {
    background-color: #3367d6;
}
