#search-header {
    text-align: center;
    padding: 20px;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-image: url('../../images/saved-background.png');
}

#search-input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#search-input {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#search-add-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-add-button:hover {
    background-color: #3367d6;
}

#search-words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 10px;
}

.search-word {
    border-radius: 20px;
    margin: 0px;
}

.search-word:hover {
    background-color: rgb(192, 45, 26);
}

#search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns */
    gap: 20px;
    margin: 20px;
}

#search-result {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(33.33% - 20px); /* Adjusted width to fit 3 columns with gap */
    margin-bottom: 20px; /* Added margin to create gap between rows */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}
#search-result:hover {
    background-color:  #c8c8c8;
}


/* Style the ReactMarkdown content within the recipe card */
.search-result > div {
    font-size: 16px;
    line-height: 1.6;
}
.popup-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-card-inner {
    border-radius: 15px;
    position: relative;
    padding: 32px;
    width: 75%;
    height: 600px;
    max-width: 1000px;
    background-color: #FFF;
}
.popup-card-inner .popup-content {
    height: 90%;
    overflow-y:auto;
    color: black;
}
.close-icon {
    position: absolute;
    top: 15px;
    right: 0;
    margin: 10px; /* Adjust the margin as needed */
}
.tooltip-btn {
    position: relative;
}
  
.tooltip-btn:hover::after,
.close-icon:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0.9;
    pointer-events: none; 
}

.shared-span{
    margin-left: -7px; 
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

